{% extends "base.html.twig" %}
{% block body %}
<main>
    <div class="container">      
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <p class="mb-5">Champs obligatoires *</p>
                <form action='?route=connexion' method="post">
                    <div class="mb-3">
                        <label for="login" class="form-label">Login (*)</label>
                        <input type="text" class="form-control" id="login" name="login" placeholder="Login de connexion">
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-4 mx-auto">
                            <div class="mb-3 ">
                                <label for="mdp" class="form-label">Mot de passe (*)</label>
                                <input type="password" class="form-control" id="mdp" name="mdp" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 d-flex justify-content-center">
                            <button type="submit" class="btn btn-success mt-4 me-5">Se connecter</button>
                            <a href="?route=home" title="Vers l'accueil" class="btn btn-info mt-4 ms-5">Retour accueil</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}

